<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>exercise_11</display-name>
	<display-name>Forum</display-name>
	
	<description>
      Forum 
    </description>

	<servlet>
		<servlet-name>Forum</servlet-name>
		<servlet-class>webapp.Forum</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Forum</servlet-name>
		<url-pattern>/Forum</url-pattern>
	</servlet-mapping>

</web-app>